* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: gray;
  margin: 0;
}

#map {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.side-bar-wrap {
  height: 100vh;
}

.side-bar-info {
  height: 20%;
  background: #ff7473;
  position: relative;
}
/* #e7475e */
.side-bar-title {
  color: white;
  font-weight: 900;
  font-size: 100%;
}

.side-bar-search {
  height: 25%;
  margin: 0;
  width: 100%;
  overflow-y: scroll;
}
.side-bar-result {
  height: 54%;
}
.resultList {
  height: 100%;
  overflow-y: scroll;
}
.side-bar-subTitle {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .side-bar-title-wrap {
    padding: 0;
  }
  .side-bar-info {
    height: 15%;
  }
  .side-bar-search {
    height: 30%;
  }
  .side-bar-title {
    font-size: 80%;
    padding: 0;
  }
  .currentDate {
    font-size: 100%;
  }
  .side-bar-search-description {
    width: 100%;
  }
  .locationInput {
    width: 100%;
  }
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
  line-height: 30px;
}
